@{
    Layout = null;
}
<div class="well row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Buscar:</label>
            <input type="text" class="form-control" id="searchInput"/>
        </div>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>
<hr />
<div id="usuarios">

</div>
<script>
    $(document).ready(GetUsersGrid('@Url.Action("GetUsersGrid", "Manage")', $("#searchInput").val(),'username',true,1,2));
</script>