@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor, revisa tu bandeja de correo electrónico para restablecer tu contraseña.
    </br>
    <span style="text-decoration: underline">Puede que tengas que revisar tambien la bandeja de spam.</span>
</p>

