@{
    ViewData["Title"] = "Por favor, confirma tu correo electrónico";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        ¡Se te ha enviado un email para confirmar tu correo electrónico! 
    </p>
    <p>
        Una vez confirmado tu correo electrónico, podras acceder a tu cuenta.
    </p>
</div>
