@model Akari_Net.Core.Areas.Pacientes.Models.ViewModels.Pacientes.CitasPacienteViewModel

@{
    ViewData["Title"] = "Citas";
}

<h2>Citas de @Model.Paciente.Nombre</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Tipo de cita
            </th>
            <th>
                Descipción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Citas)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @*@{
                        string TipoCita;
                        switch (item.TipoCita)
                        {
                            case "blue":
                                TipoCita = "Consulta/Quiropodia";
                                break;
                            case "red":
                                TipoCita = ">Cura / Revisión";
                                break;
                            case "#c8c800":
                                TipoCita = "Entrega de OP";
                                break;
                            case "green":
                                TipoCita = "Exploración Biomecánica";
                                break;
                            case "purple":
                                TipoCita = "Revisión OP / Moldes";
                                break;
                            case "pink":
                                TipoCita = "Otros";
                                break;
                            case "orange":
                                TipoCita = "Personal";
                                break;
                            default:
                                TipoCita = "Desconocido";
                                break;
                        }

                        @Html.Label(TipoCita);
                    }*@
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>}
    </tbody>
</table>
<a asp-action="Index">Volver atras</a>

