@{
    ViewData["Title"] = "Index";
}
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo paciente</a>
</p>

<div class="well row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Buscar:</label>
            <input type="text" class="form-control" id="searchInput" />  
        </div>
    </div>
    <div class="col-md-1">
        
    </div>
</div>

<div id="pacientes">

</div>

@Html.AntiForgeryToken()

@section Scripts {
    <environment Names="Development">
        <script src="~/js/pacientes.pacientes.js" asp-append-version="true"></script>
    </environment>
    <environment Names="Production,Staging">
        <script src="~/js/min/pacientes.pacientes.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
    var pageSize = 2;
    $(document).ready(function () {
        getPacientesGrid('@Url.Action("GetPacientesGrid", "Pacientes")', $("#searchInput").val(), 'name', true, 1, pageSize);
        $(searchInput).on('input',(function (){
            getPacientesGrid('@Url.Action("GetPacientesGrid", "Pacientes")', $("#searchInput").val(), 'name', true, 1, pageSize);
        }));
    });
    </script>
}

